*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: #10121B;
    font-size: 1.2rem;
}

.App{
    padding: 0 20rem;
}
h1{
    font-size: 3rem;
}
span{
    color: #037FFF;
}
.title{
    padding: 2rem 0;
    text-align: center;
}

h2{
    font-size: 2rem;
    font-weight: 200;
    margin: 1rem 0;
}

h2:hover{
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: #037FFF;
}

p{
    color: rgba(255, 255, 255, 0.596);
}

.item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding-bottom: 6rem;
}

.item-container{
    overflow: hidden;
}

.item-con{
    width: 100%;
    padding: 1.2rem 1.2rem;
    background-color: #19202E;
    
}

.item-container > img{
    width: 100%;
    transition: all .3s ease-in-out;
}

.item-container > img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.buttons{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}

.btn{
    padding: .5rem 2rem;
    background-color: #0C3564;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    transition: all 0.4s cubic-bezier(1,-0.16,.6,1.35);
}

.btn:not(:last-child){
    margin-right: 1rem;
}

.btn:hover{
    background-color: #037FFf;
    cursor: pointer;
}

.btn:active, .btn:focus{
    outline: none;
    border: none;
}

